a{
    text-decoration: none;
}
#header {
    height: 60px;
    padding: 10px 5px;
}
#header a{
    text-decoration: none;
    color: rgba(0,0,0,.87);
    font-size: 13px;
}
#header a:hover{
    text-decoration: underline;
}
.gl_1{
    float: left;
}

.gl_1 a {
    font-family: Roboto,arial,sans-serif;
    padding-left: 10px;
    margin: 5px;
    vertical-align: middle;
}

.gl_2{
    float: right;
}
title{
    background-color: #5f6368;
}
.gl_2 a{
    font-family: arial,sans-serif;
    margin: 5px;
    vertical-align: middle;
    color: #5f6368;
    padding-right: 10px;
}
#img1{
    color: #5f6368;
    vertical-align: middle;
    padding-right: 10px;
}
#img1:hover{
    background-origin: padding-box;
}
#googlelogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 200px;
    margin-bottom: 0px;
}
.gl_3{
    display: inline-block;
}
.search_google{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}

#search{
    width: 584px;
    height: 38px;
    border-radius: 24px;
    border-style: solid ;
    background-color: #fff;
    border-color: rgba(223,225,229,0);
    border: 1px solid #dfe1e5;
    box-shadow: none;
}
#search:hover{
    border-width: 2px;
    -webkit-box-shadow: 0 0 3px 2px #dfe1e5;
	-moz-box-shadow: 0 0 3px 2px #dfe1e5;
	box-shadow: 0 0 3px 2px #dfe1e5;
}
.button{
    text-align: center;
    margin-top: 15px;
}
#button1{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}
#button1:hover{
    border-width: 1px;
    border: 1px solid #dcdcdd;
    box-shadow: 0 0 1px 1px #faf9f9;
}
#button2{
    width: 250px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}
#button2:hover{
    border-width: 1px;
    border: 1px solid #dcdcdd;
    box-shadow: 0 0 1px 1px #faf9f9;
}
#bos{
    height: 375px;
}
.footer {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #7e7e80;
    border-top: 1px solid #dadce0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-left: -8px;
    line-height: 10px;
  }

.footer a{
    display:inline-block;
    color: #70757a;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin-left: 14px;
    margin-right: -5px;

}
.footer a:hover{
    text-decoration: underline;
}
#footer-1{
    float: left;
}
#footer-2{
    flex: none;
    float: right;
}